@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Passions+Conflict&family=Special+Elite&display=swap");
@import url(//db.onlinewebfonts.com/c/0d1ba576abfaabfd2ba3e72432fcc5b2?family=Nefelibata-Script);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .carrousel__imagen {
        @apply w-0 flex-grow object-cover opacity-80 transition duration-300 ease-in hover:cursor-crosshair hover:w-32 hover:opacity-100 hover:contrast-125;
    }

    .modalbook__select {
        @apply select flex w-64 select-bordered focus:outline-offset-0 focus:outline-1 focus:outline-accent h-2 min-h-8 !rounded-tr-none !rounded-bl-md;
    }

    .form__button {
        @apply btn bg-secondary hover:bg-secondary hover:border-solid hover:border-2 hover:border-lime-700 font-Montserrat text-base normal-case;
    }

    .categorias__centerText {
        @apply font-Nefelibata font-[550] text-3xl absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
    }

    .text__input {
        @apply rounded-none input focus:border-none border border-black border-solid;
    }

    .button__entrar {
        @apply w-1/2 rounded-none border-2 border-solid border-black bg-transparent focus:bg-transparent focus:border-b-transparent focus:border-l-accent hover:bg-base-100 hover:border-transparent focus:border-t-accent focus:border-r-transparent focus:text-accent;
    }

    .button__nuevo-usuario {
        @apply w-1/2 rounded-none border-2 border-solid border-black bg-transparent focus:bg-transparent focus:border-b-transparent focus:border-r-secondary hover:bg-base-100 hover:border-transparent focus:border-l-transparent focus:border-t-secondary focus:text-secondary;
    }
}

[id="heart"] {
    position: absolute;
    left: -100vw;
}

[for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 6em;
    align-self: center;
}

[for="heart"]:hover {
    color: grey;
}

[for="heart"]::selection {
    color: none;
    background: transparent;
}

[for="heart"]::moz-selection {
    color: none;
    background: transparent;
}

[id="heart"]:checked+label {
    color: #e2264d;
    will-change: font-size;
}

.contenido-oculto {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}

.activo a {
    font-weight: bold;
    background-color: #67C574;
}

.activo {
    background-color: #67C574;
    padding: 0.5rem 1rem;
}

.activo~li a:hover {
    color: #111827;
}

b {
    word-spacing: -0.1em;
    letter-spacing: normal;
}

#preview-img {
    max-width: 100%;
    height: auto;
    display: none;
}

.fondo__pantalla {
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

.canvasOff {
    position: relative;
    z-index: 999;
  }

.welcome{
    background-color: #38003eff;
    border-radius: 12px;
    width: 500px;
    height: 60px;
    padding-top: 15px;
    letter-spacing: 2px;
}

  .neonMorado {
    text-shadow: 0 0 5px #8a2be2, 0 0 15px #8a2be2, 0 0 20px #8a2be2, 0 0 40px #8a2be2, 0 0 60px #ff00ff, 0 0 10px #ff69b4, 0 0 98px #ff00ff;
    color: #fff;
  }

  .buttonFlip {
    animation: buttonFlip 4s infinite;
  }
  
  @keyframes buttonFlip {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .flicker-slow{
    animation: flicker 3s linear infinite 10s;
  }
  
  .flicker-fast{
    animation: flicker 1s linear infinite 7s;
  }
  
  @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
          
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
          opacity: 0.4;
      }
  } 

/*  .yoda {
    position: absolute;
    animation: fly 1s linear infinite;
    left: 0;
    right: 0;
  }
  
  @keyframes fly {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
*/
.yoda{
    position: absolute;
    -webkit-animation: run 4s both 5s linear,
                       bounce 2s ease infinite;
    
            animation: run 5s both 5s linear,
                       bounce 2s ease infinite;
            
}

@keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}


@keyframes bounce {
    0% {
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    5% {
      transform: translateY(-40%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    10% {
      transform: translateY(-30%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    15% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    20% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    25% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    30% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    35% {
      transform: translateY(20%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    40% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    45% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    50% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    55% {
      transform: translateY(20%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    60% {
      transform: translateY(30%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    65% {
      transform: translateY(20%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    70% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    75% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    80% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    85% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    90% {
      transform: translateY(-30%);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    95% { transform: translateY(-40%); 
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
    } 
    100% { transform: translateY(-50%); 
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
    } 
}