@layer base {
    @font-face {
        font-family: Montserrat;
        src: url(./Montserrat.ttf) format('tff');
    }
    @font-face {
        font-family: PassionsConflict;
        src: url(./PassionsConflict.ttf) format('tff');
    }
    @font-face {
        font-family: SpecialElite;
        src: url(./SpecialElite.ttf) format('tff');
    }
}
